* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(45deg,
      rgba(129, 41, 0, 0.1),
      rgba(133, 0, 0, 0.1),
      rgba(15, 128, 0, 0.1),
      rgba(0, 90, 97, 0.1));
  --gradientBtn: linear-gradient(45deg,
      rgba(243, 77, 0, 0.4),
      rgba(253, 114, 114, 0.4),
      rgba(68, 245, 45, 0.4),
      rgba(6, 238, 255, 0.4));
  --gradientGr: linear-gradient(rgb(0, 146, 110), rgb(0, 72, 121));
  --polygone: polygon(0% 90%, 25% 75%, 50% 30%, 75% 40%, 100% 80%, 100% 100%, 0% 100%);
  --polygone2: polygon(0% 90%, 25% 75%, 50% 30%, 75% 40%, 100% 80%, 100% 100%, 0% 100%);
  --x1: 105px;
  --x2: 90px;
  --x3: 45px;
  --x4: 55px;
  --x5: 95px;
  --pos: -125px -40px;
  --clouds: visible;
  --cl: 0;
  --flash: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backfone {
  position: relative;
  perspective: 1500px;
  z-index: -1;
}

.base {
  position: absolute;
  top: 500px;
  width: 600px;
  height: 1800px;
  background-image: radial-gradient(#0000, #000 75%),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #333 90deg 180deg);
  background-size: 100%, 50px 50px;
  transform: translate(-50%, -50%) rotateX(90deg);
  filter: blur(5px);
  z-index: -1;
}

.weather-app {
  min-width: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: beige;
}

.name-app {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 34px;
  line-height: 48px;
  color: antiquewhite;
  font-style: italic;
  display: inline;
}

#magic {
  color: beige;
  opacity: 1;
  transition: all 0.1s;
}

.container {
  width: 650px;
  /* padding: 2em;
  border-radius: 20px; */
  animation: gradient 1s infinite;
  background-size: 400%;
  /* background-image: var(--gradient); */
}

@keyframes transparent {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
}

.search-bar {
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-content: center;
  border-radius: 25px;
}

.search-barinput {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 45px;
  border: 1px solid rgb(230, 197, 135);
  background-color: transparent;
  border-radius: 25px;
  padding: 3px;
  box-shadow: 3px 3px 15px 5px rgba(20, 20, 0, 0.3);
}

.search-bar__input {
  position: relative;
  top: -37px;
  color: bisque;
  background-color: transparent;
  border: none;
  font-size: 24px;
  line-height: 44px;
  width: 85px;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

input {
  color-scheme: dark;
}

.search-bar__input:focus {
  outline: none;
  width: 210px;
  background-color: transparent;
}

.search-button {
  height: 39px;
  width: 39px;
  border: none;
  vertical-align: 80%;
  border-radius: 19px;
  background-image: var(--gradientBtn);
  background-size: 400%;
  background-position: left;
  transition: background-position 0.2s ease-out;
  font-size: 20px;
}

.search-button:hover {
  background-position: right;
}

.search-button,
.loc {
  cursor: pointer;
  color: #333;
}

#weather-img {
  display: inline-block;
  margin-right: 0;
}

.sky-icon {
  width: 130px;
  height: 130px;
  object-fit: none;
  /* object-position: -125px -40px;    CLEAR SKY */
  /* object-position: -375px -40px;    CLOUDS SKY */
  /* object-position: -225px -230px;   RAIN SKY */
  object-position: var(--pos);
  border-radius: 40px;
  margin-right: 30px;
  box-shadow: 3px 3px 10px 5px rgba(151, 87, 255, 0.2);
}

.iamge {
  display: block;
  margin: 0 auto;
}

.city-info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.city-name {
  color: rgb(238, 238, 209);
  font-size: 40px;
  animation: 0.5s animation-slideRightHide ease-in-out forwards;
}

@keyframes animation-slideRightHide {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.info {
  color: rgb(165, 165, 149);
  font-size: 18px;
  font-weight: thin;
  display: inline;
  min-width: 120px;
}

.numbers {
  display: flex;
  justify-content: space-between;
  height: 77px;
  opacity: 0;
  animation: showwords 2.5s ease forwards;
}

@keyframes showwords {
  to {
    opacity: 1;
  }
}

.temperature {
  font-size: 15px;
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#units {
  margin-top: 0px;
  padding-bottom: 38px;
  width: 150px;
  font-size: 30px;
  font-weight: 100;
  color: rgb(0, 255, 242);
  cursor: pointer;
}

strong {
  color: white;
}

.temp {
  font-size: 86px;
  display: inline;
  transition: all 0.3s;
}

#date {
  font-size: 12px;
}

.footer {
  position: sticky bottom;
  font-size: x-small;
  color: beige;
  padding-right: 200px;
}

.footer-link {
  text-decoration: none;
  color: #ee6352;
}

.days-graph {
  transition: all 0.5s;
  position: relative;
  height: 100px;
  line-height: 100px;
  margin: 20px 0 0 0;
  clip-path: var(--polygone);
  background-image: var(--gradientGr);
}

.days-graph::before {
  transition: all 0.5s;
  position: relative;
  content: " ";
  height: 100px;
  line-height: 100px;
  background: #1f2128;
  display: block;
  top: 3px;
  clip-path: var(--polygone);
}

.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.point1 {
  transition: all 0.5s;
  transform: translateY(var(--x1));
}

.point2 {
  transition: all 0.5s;
  transform: translateY(var(--x2));
}

.point3 {
  transition: all 0.5s;
  transform: translateY(var(--x3));
}

.point4 {
  transition: all 0.5s;
  transform: translateY(var(--x4));
}

.point5 {
  transition: all 0.5s;
  transform: translateY(var(--x5));
}

.hours-predict {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(116, 171, 207);
  font-size: 12px;
}

/* ----------------- RAIN ---------------- */
.rain {
  height: 130px;
  width: 130px;
  background-image: linear-gradient(45deg, rgb(41, 74, 102), rgb(1, 20, 31));
  box-shadow: -3px 3px 15px 5px rgba(2, 47, 77, 0.8), inset -43px 23px 35px 5px rgba(255, 255, 255, var(--flash));
  border-radius: 30px;
  visibility: visible;
  animation: 3s slidein3 infinite ease-in-out;
  isolation: isolate;
}

.rain:before {
  content: "";
  position: relative;
  padding: 3px 30px;
  top: 12px;
  left: 50px;
  margin-left: 10px;
  border-radius: 15px;
  background: rgb(83, 117, 126);
  box-shadow: inset 3px -3px 5px 3px rgba(255, 255, 255, var(--flash));
}

.rain:after {
  content: "";
  position: relative;
  padding: 15px 30px;
  top: 45px;
  left: 50px;
  margin-left: -65px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  animation: 3s slidein3 infinite ease-in-out;
  visibility: var(--clowds);
  clip-path: polygon(50% 0%, 25% 50%, 60% 50%, 35% 100%, 70% 40%, 50% 40%, 80% 0%);
}

@keyframes slidein3 {
  0% {
    --clowds: visible;
    --flash: 1;
  }

  1% {
    --clowds: hidden;
    --flash: 0;
  }

  2% {
    --clowds: visible;
    --flash: 1;
  }

  5% {
    --clowds: hidden;
    --flash: 0;
  }

  49% {
    --clowds: hidden;
    --flash: 0;
  }

  50% {
    --clowds: visible;
    --flash: 1;
  }

  56% {
    --clowds: hidden;
    --flash: 0;
  }

  97% {
    --clowds: hidden;
    --flash: 0;
  }

  100% {
    --clowds: visible;
    --flash: 1;
  }
}

/*-------------------------- CLEAR SKY ----------------- */
.clear {
  height: 130px;
  width: 130px;
  background-image: linear-gradient(45deg, rgb(204, 50, 3), rgb(240, 110, 3));
  box-shadow: -3px 3px 25px 12px rgba(255, 239, 22, 0.3);
  border-radius: 30px;
  visibility: var(--clowds);
  isolation: isolate;
}

.clear:before {
  content: "";
  position: relative;
  padding: 13px 22px;
  top: 17px;
  left: 60px;
  margin-left: 20px;
  border-radius: 25px;
  background: rgb(253, 237, 4);
  visibility: var(--clowds);
}

.clear:after {
  content: "";
  position: relative;
  padding: 30px 40px;
  top: 28px;
  left: 45px;
  margin-left: -60px;
  border-radius: 40px;
  background-image: linear-gradient(40deg, rgb(240 110 3 / 0.2), rgba(252, 223, 96, 0.6), rgb(240 110 3 / 0.2));
  background-size: 400%;
  opacity: 1;
  animation: 9s slidein2 infinite ease-in-out;
  visibility: var(--clowds);
}

@keyframes slidein2 {
  0% {
    opacity: 1;
    transform: scale(1);
    background-position: left;
  }

  50% {
    opacity: 0.3;
    transform: scale(13);
    background-position: right;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    background-position: left;
  }
}

/* ------------ CLOWDS ---------------- */
.clowds {
  height: 130px;
  width: 130px;
  background-image: linear-gradient(45deg, rgb(0, 72, 121), rgb(0, 146, 110));
  box-shadow: -3px 3px 15px 5px rgba(0, 72, 121, 0.8);
  border-radius: 30px;
  visibility: var(--clowds);
}

.clowds:before {
  content: "";
  position: relative;
  padding: 12px 17px;
  top: 20px;
  left: 50px;
  margin-left: 20px;
  border-radius: 25px;
  background: rgb(169, 236, 253);
  animation: 3s slidein infinite ease-in-out;
  visibility: var(--clowds);
}

.clowds:after {
  content: "";
  position: relative;
  padding: 3px 30px;
  top: 30px;
  left: 30px;
  margin-left: -45px;
  border-radius: 15px;
  background: rgb(169, 236, 253);
  animation: 3s slidein infinite ease-in-out;
  visibility: var(--clowds);
}

@keyframes slidein {
  0% {
    left: 50px;
  }

  50% {
    left: 70px;
  }

  100% {
    left: 50px;
  }
}

.forecast-section {
  margin-top: 20px;
  text-align: center;
}

.row {
  justify-content: space-between;
  gap: 20px;
}

.col-2 {
  border: 4px solid transparent;
  transition: all 0.3s;
}

.col-2:hover {
  border: 4px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff2;
}

@media (max-width: 768px) {
  .weather-app {
    min-width: 100%;
    padding: 0 10px;
  }

  .container {
    width: 100%;
    padding: 0 10px;
  }

  /* .days-graph {
    height: 80px;
  } */
}

@media (max-width: 520px) {
  .name-app {
    font-size: 2em;
  }

  h1 {
    font-size: 26px;
  }
}
